<html>
    <head>
        <title>Muse EEG Live</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/viz.css') }}">
        <script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/plotly-latest.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/canvasjs.min.js') }}"></script>
    </head>

    <body>
        <h2>Subject #{{ subject_id }} real-time and historical Muse EEG data</h2>

        <div id="wrapper">
            <div id="row1">
                <div id="muse">
                </div>
                <div id="chart">
                    <div id="chart_settings">
                        <form id="chart_form">
                            <br />Frequency band: <br />
                            <select id="tab_chart" name="tab_chart">
                                <option value="alpha">alpha</option>
                                <option value="beta">beta</option>
                                <option value="delta">delta</option>
                                <option value="theta" selected="selected">theta</option>
                                <option value="gamma">gamma</option>
                            </select>
                            <input type="text" name="last_id_hack" id="last_id_hack" value="-1" hidden></input> <!-- hack to pass last_id -->
                        </form>
                    </div>

                    <div id="chart_container"></div>
                </div>
            </div>
            <div id="row2">
                <div id="query">

                    <form id="correlate">
                        Load saved query: <br />
                        <select id="queries" name="queries">
                            <option value="0" selected="selected">(New query)</option>
                            {% for query in queries %}
                            <option value="{{ query[0] }}">{{ query[1] }}</option>
                            {% endfor %}
                        </select>

                        <br /><br /><strong>Neural:</strong><br />
                        <input type="text" name="sig_neural" id="sig_neural" value="" size="50"></input>
                        <select id="tab_neural" name="tab_neural">
                            <option value="alpha">alpha</option>
                            <option value="beta">beta</option>
                            <option value="delta">delta</option>
                            <option value="theta" selected="selected">theta</option>
                            <option value="gamma">gamma</option>
                        </select>
                        <br />
                        window: 
                        <input type="text" name="win_neural" id="win_neural" value=""></input>
                        ms

                        <br /><br />
                        lag: 
                        <input type="text" name="lag" id="lag" value=""></input>
                        ms

                        <br /><br /><strong>Behavioral:</strong><br />
                        <input type="text" name="sig_behavioral" id="sig_behavioral" value="" size="50"></input>
                        <select id="tab_behavioral" name="tab_behavioral">
                            <option value="accelerometer" selected="selected">accelerometer</option>
                            <option value="gyro">gyro</option>
                            <option value="location">location</option>
                            <option value="acceleration">acceleration</option>
                        </select>
                        <br />
                        window: 
                        <input type="text" name="win_behavioral" id="win_behavioral" value="500"></input>
                        ms

                        <br /><br /><strong>Quality filter:</strong><br />
                        <input type="text" name="sig_quality" id="sig_quality" value="" size="50"></input>
                        <select id="tab_quality" name="tab_quality">
                            <option value="hsi" selected="selected">hsi</option>
                            <option value="good" >good</option>
                        </select>
                        <br />
                        window margin around neural window: 
                        <input type="text" name="win_quality" id="win_quality" value=""></input>
                        ms

                        <br /><br />
                        <input type="button" name="submit_corr" id="submit_corr" value="Run"></input>

                        <br /><br /><strong>Result:</strong><br />
                        <span id="corr_result"></span> <!-- TODO remove out of form... maybe split into two forms? but then can't save query ... -->

                        <div id="scatter_plot"></div>


                        <br /><br /><br />
                        Query title
                        <input type="text" name="query_title" id="query_title" value=""></input>
                        <br />
                        Description<br />
                        <textarea rows="4" cols="50" name="query_desc" id="query_desc"> </textarea>
                        <br />
                        <input type="button" name="save_query" id="save_query" value="Save query"></input>
                        
                        <br />
                        <span id="save_result"></span>
                    </form>


                    <script>  
                        // TODO move to separate file

						// plot EEG data
                        // from https://canvasjs.com/html5-javascript-dynamic-chart/
                        // also read up on http://developer.choosemuse.com/tools/available-data#DRLRefData
                        //
                        var dps = [[],[],[],[],[],[]]; // dataPoints
                        var chart = new CanvasJS.Chart("chart_container", {
                            title :{
                                text: "Absolute " + $('#tab_chart').val() + " power"
                            },
                            axisY: {
                                includeZero: false,
                                title: "Bels"
                            },      
                            axisX: {
                                valueFormatString: "MM/DD/YY hh:mm:ss"
                            },
                            data: [{
                                name: "EEG1",
                                type: "line",
                                showInLegend: true,
                                dataPoints: dps[0]
                            }, {
                                name: "EEG2",
                                type: "line",
                                showInLegend: true,
                                dataPoints: dps[1]
                            }, {
                                name: "EEG3",
                                type: "line",
                                showInLegend: true,
                                dataPoints: dps[2]
                            }, {
                                name: "EEG4",
                                type: "line",
                                showInLegend: true,
                                dataPoints: dps[3]
                            }, {
                                name: "AUX1",
                                type: "line",
                                showInLegend: true,
                                dataPoints: dps[4]
                            }, {
                                name: "AUX2",
                                type: "line",
                                showInLegend: true,
                                dataPoints: dps[5]
                            }]
                        });
                        var fields = ['eeg1', 'eeg2', 'eeg3', 'eeg4', 'aux1', 'aux2'];

                        var updateInterval = 3000;
                        var last_id = -1;
                        var dataLength = 500;

                        var getEEG = function () {

                            $.post("{{ url_for('get_eeg', subject_id=subject_id) }}", $('form#chart_form').serialize(), function() {}, 'json')
                            .done(function(data) {
                                console.log(data);

                                // go in reverse order b/c ORDER BY DESC
                                //
                                for (var j = 0; j < fields.length; j++) {
                                    var key = fields[j];
                                    for (var i = data[key].length - 1; i >= 0; i--) {
                                        dps[j].push({
                                            x: new Date(data['mt'][i]),
                                            y: data[key][i]
                                        });
                                        last_id = Math.max(last_id, data['id'][i]);
                                    }
                                }
                                // trim arrays
                                for (var j = 0; j < dps.length; j++) {
                                    while (dps[j].length > dataLength) {
                                        dps[j].shift();
                                    }
                                }
                                $('#last_id_hack').val(last_id);

                                chart.render();
                            })
                            .fail(function(xhr, status, error) {
                                console.log('get_eeg error');
                            });
                        }

                        // setup chart on window load
                        //
						window.onload = function () {
                            getEEG();
						    setInterval(function(){getEEG()}, updateInterval);
						}

                        // change chart frequency range 
                        //
                        $('select#tab_chart').change( function() {
                            for (var j = 0; j < dps.length; j++) {
                                dps[j].length = 0;  // important -- clear in place; address needs to stay the same
                            }
                            chart.options.title.text = "Absolute " + $('#tab_chart').val() + " power"
                            last_id = -1;
                        });

                        // handle submit for correlate form (Run button)
                        // from https://stackoverflow.com/questions/1200266/submit-a-form-using-jquery
                        //
                        $('input#submit_corr').click( function() {
                            $.post("{{ url_for('correlate', subject_id=subject_id) }}", $('form#correlate').serialize(), function() {}, 'json')
                            .done(function(data) {
                                console.log(data);
                                var r = data['r'];
                                var p = data['p'];
                                $('#corr_result').html("r = " + r.toString() + ", p = " + p.toString());
                                var neural = data['ret1']
                                var behavioral = data['ret2']
                                scatterPlot(neural, behavioral);
                            })
                            .fail(function(xhr, status, error) {
                                $('#corr_result').html("ERROR");
                            })
                            .always(function() {
                                $('#save_result').html("");
                            });
                        });

                        // handle submit for save query
                        //
                        $('input#save_query').click( function() {

                            $.post("{{ url_for('save_query') }}", $('form#correlate').serialize(), function() {}, 'json')
                            .done(function(data) {
                                console.log(data);
                                $('#save_result').html("Saved!");
                            })
                            .fail(function(xhr, status, error) {
                                $('#save_result').html("ERROR!");
                            })
                        });

                        // handle load query
                        //
                        $('select#queries').change( function() {

                            if ($('#queries').val() != '0') {
                                $.get("{{ url_for('load_query') }}", { id: $('#queries').val() }, function(data) {
                                    console.log(data);
                                    for (var name in data) {
                                        if (name != 'queries') {
                                            $('#' + name).val(data[name]);
                                        }
                                    }
                                    },
                                    'json' // I expect a JSON response
                                );
                            } else {
                                // new query -> clear form
                                $('form#correlate').trigger('reset');
                            }
                        });

                    </script>



                </div>


                <div id="map">map<br><br></div>
            </div>
        </div>


		<script>
           
            // scatter plot for query results
            // from https://plot.ly/javascript/getting-started/#hello-world-example
            // and https://plot.ly/javascript/line-charts/
            //
            function scatterPlot(neural, behavioral) {
                var trace1 = {
                      x: neural,
                      y: behavioral,
                      mode: 'markers'
                };
                var data = [ trace1 ];

                var layout = {
                    title: 'Neural vs. Behavioral',
                    xaxis: {
                        title: 'Neural'
                    },
                    yaxis: {
                        title: 'Behavioral'
                    }
                };

                Plotly.newPlot('scatter_plot', data, layout);

                /*
                TESTER = document.getElementById('scatter_plot');
                Plotly.plot( TESTER, [{
                x: [1, 2, 3, 4, 5],
                y: [1, 2, 4, 8, 16] }], {
                margin: { t: 0 } } );
                */
            }

            // draw map
		    // from https://developers.google.com/maps/documentation/javascript/examples/polyline-simple

            function initMap() {
                // convert from python to javascript array
                //
                var loc = {{ loc|tojson }};
                var coords = [];
                bounds  = new google.maps.LatLngBounds(); // to auto zoom / pan map
                for (var i = 0; i < loc.length; i++) {
                    coords.push({lat: loc[i][0], lng: loc[i][1]})
                    bounds.extend(new google.maps.LatLng(loc[i][0], loc[i][1]));
                }

                var map = new google.maps.Map(document.getElementById('map'), {
                  zoom: 3,
                  center: {lat: 0, lng: -180},
                  mapTypeId: 'terrain'
                });
                map.fitBounds(bounds);
                map.panToBounds(bounds);
               
                /*
                var flightPlanCoordinates = [
                  {lat: 37.772, lng: -122.214},
                  {lat: 21.291, lng: -157.821},
                  {lat: -18.142, lng: 178.431},
                  {lat: -27.467, lng: 153.027}
                ];
                */
                var path = new google.maps.Polyline({
                  path: coords,
                  geodesic: true,
                  strokeColor: '#FF0000',
                  strokeOpacity: 1.0,
                  strokeWeight: 2
                });
                
                path.setMap(map);
            }
		</script>


        <script async defer
                 src="https://maps.googleapis.com/maps/api/js?key={{ maps_api_key }}&callback=initMap">
        </script>
    </body>
</html>
